extends layout

block content

    section#intro-text
        span Simple Kitchen
        h3
        | Simple &amp; Comforting 
        br
        |             Recipes All Year Round

    section#intro-image
            -data = data || {}

    if errors
        ul#errors
        for error in errors
            li= error.msg
    
    span#headline Register To Subscribe

    form(action="." method="POST" class="form-registration")
        label(for="name") Name:
        input(
            type="text"
            id="name"
            name="name"
            class="form-control"
            value=data.name
        )

        label(for="email") Email:
        input(
            type="email"
            id="email"
            name="email"
            class="form-control"
            value=data.email
        )

        label(for="username") Username:
        input(
            type="text"
            id="username"
            name="username"
            class="form-control"
            value=data.username
        )

        label(for="password") Password:
        input(
            type="password"
            id="password"
            name="password"
            class="form-control"
            value=data.password
        )

        input(
            type="submit" 
            value="Register"
            class="btn btn-lg btn-primary btn-block"
        )
    
